import(R2HTML)
import(Zelig)
import(accuracy)
export(hplot)
export(VDCgenAnalysis)
export(zeligListModels,zeligInstalledModels,zeligDescribeModelXML,zeligGetSpecial,printZeligSchemaInstance)
export(HTML.summary.MCMCZelig,HTML.summary.zelig,HTML.summary.zelig.strata)
export(zeligModelDependency,zeligModelDependencies)
export(VDCcrossTabulation,VDCxtabs,HTML.VDCxtabs)

S3method(hplot,default)
S3method(plot,grob) 
S3method(print,VDCxtabs) 
